{% extends 'land_page.html' %}

{% block body %}
    <div class="container">
        <h2>ورود</h2>
        <hr>
        {{ authentication_form.errors }}
        <form class="form" action="." method="post">{% csrf_token %}
            <div class="form-group">
                <label for="id_username">ایمیل</label>
                {{ authentication_form.email }}
            </div>
            <div class="form-group">
                <label id="id_password">رمز عبور</label>
                {{ authentication_form.password }}
            </div>
            <button type="submit" class="btn btn-primary">ورود</button>
        </form>
    </div>
{% endblock %}